.second-list {
  display: flex;
  justify-content: space-between;
}

.second-list .nav-item3 {
  margin-left: 15rem;
}

.first-list {
  display: flex;
  margin-left: 15rem;
}

.first-list .nav-item1 {
  margin-right: 25px;
}

.nav-item1,
.nav-item3,
.nav-item2 a {
  font-size: 18px;
}

#nav-bar {
  position: sticky;
  top: 0;
}

h4 {
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.dropdown-menu {
  padding: 10px;
  border-radius: 10px;
}

.dropdown-menu a {
  border-radius: 5px;
}

.dropdown-menu a:hover {
  background-color: #d1d1d1;
}
