.centered-title{
  position: absolute;
  top: 20%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.centered-title h2{
    font-size: 50px;
    font-weight: 800;
    color: #161414;
    margin-top: 25px;
}

.centered{
  position: absolute;
  top: 75%;
  left: 47%;
  transform: translate(-50%, -50%);
}


button{
  margin-right: 50px;
  margin-left: 50px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 5px;
}

button:hover{
  background-color: #fff;
}

.options{
  background-color: #ebe8e8;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 20px;
}

.search-term{
  margin-top: 50px;
  margin-left: 20px;
}

.btn{
  background-color: #ffa827;
  color: #fff;
  border-radius: 5px;
}

.btn:hover{
  background-color: #f89f19;
}

.centered{
  background-color: #00000066;
  padding: 30px 130px;
  margin-left: 20px;
  border-radius: 20px;
}
