.auth-header-container {
  position: sticky;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fffbfe;
}

.auth-header-actions-section {
  display: flex;
  justify-content: flex-end;
}

.header-action {
  border: 1px #cccccc solid;
  border-radius: 20px;
  margin-top: 5px;
  padding: 3px 8px;
  height: 35px;
  cursor: pointer;
}

.header-action:hover {
  border-color: #2a2f3c;
  background-color: #cccccc;
}



